@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
      box-sizing: border-box;
}

html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
}

body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: Poppins;
      font-weight: 400;
      /* background: url(../img/foto4.png); */
      background-position: center;
      background-size: cover;
}

hr{
      margin-top: 3.5rem;
      width: 93%;
}

nav {
      padding: 8px;
}

.logo {
      float: left;
      padding: 8px;
      margin-left: 16px;
      margin-top: 12px;
}

.logo a {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
      transition: 0.3s;
}

.logo a:hover, nav a:hover{
      color: #7EBAE7;
}

.cat__nav:hover{
      color: black !important;
}
.cat__nav{
      color: #7EBAE7;
}


nav ul {
      float: right;
}

nav ul li {
      display: inline-block;
      float: left;
}

nav ul li:not(:first-child) {
      margin-left: 48px;
}

nav ul li:last-child {
      margin-right: 24px;
}

nav ul li a {
      display: inline-block;
      outline: none;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 600;
      transition: 0.3s;
}


.principal a{
      text-decoration: none;
      color: #000 !important;
}

.title{
      margin-top: 0.5rem;
      text-align: center;
      padding-right: 18px;
      padding-left: 18px;
      margin-bottom: -0.3rem;
}

.title h1{
      color: #7EBAE7;
}

.topicos{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      gap: 2rem;
      margin-top: 2rem;
}

.text{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
}

.text p{
      width: 50%;
      min-width: 24rem;
      text-align: justify;
}

.btn{
      width: 12rem;
      height: 3rem;
      font-size: 1rem;
      font-family: Poppins;
      background-color: transparent;
      border: solid 2px #7EBAE7;
      border-radius: 1.4rem;
      margin-top: 3rem;
}

.btn:hover{
      color: white !important;
      background-color: #7EBAE7;
      border: none;
      transition: all 0.3s;
}

.rede{
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: Poppins;
      background-color: transparent;
      border: solid 2px #7EBAE7;
      border-radius: 1.4rem;
      margin: 0.75rem;
}


.rede:hover{
      color: white !important;
      background-color: #7EBAE7;
      border: none;
      transition: all 0.3s;
}

.foto{
      width: 25rem;
}


.footer{
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      text-align: center;
      padding-bottom: 1rem;
}

footer{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
}

.footer p{
      font-size: 0.9rem;
}

footer p{
      font-size: 0.9rem;
}


@media screen and (max-width: 864px) {
      .logo {
            padding: 0;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}

.container2{
      position: relative;
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container2 .card{
      position: absolute;
      top: calc(50% - 200px);
      transform: translate(-50%,calc(100px * var(--i))) rotate(40deg) skew(-20deg,-10deg);
      width: 300px;
      height: 400px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 25px 25px 100px rgba(0, 0, 0, 0.2);
      z-index: calc(-1 * var(--i));
      transition: 0.5s;
  }
  .container2 .card:nth-child(1){
      opacity: 1;
  }
  .container2 .card:nth-child(2){
      opacity: 0.8;
  }
  .container2 .card:nth-child(3){
      opacity: 0.6;
  }
  .container2:hover .card{
      position: absolute;
      top: 50%;
      z-index: 1;
      opacity: 1;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
      transform: translate(calc(-50% + calc(350px * var(--i))), -50%) rotate(0deg) skew(0deg,0deg);
  }
  .container2 .card .content{
      color: #444;
      opacity: 0;
      transition: 0.5s;
      transform: translateY(50px);
      padding: 25px;
      text-align: center;
  }
  .container2:hover .card .content{
      opacity: 1;
      transform: translateY(0px);
      transition-delay: calc(0.2s * var(--j));
  }